# terraform 
terraform.tfstate
terraform.tfstate.backup
.terraform 
.terraform.**

# terraofrm workspace 
terraform.tfstate.d
terraform.tfstate.d/**

# security group
sg_rules.tf

# outline info 
outline.json 

# log folder 
.history

# doesn't pull to repository (https://github.com/ghdwlsgur/govpn)
terraform.tfvars.json