# terraform 
terraform.tfstate
terraform.tfstate.backup
.terraform 
.terraform.**

# terraofrm workspace 
terraform.tfstate.d
terraform.tfstate.d/**

# outputs
public_dns.txt
terraform.tfstate.d/**/public_dns.txt 
outline.json 
sg_rules.tf
module.tf

# log folder 
.history

# doesn't pull to repository (https://github.com/ghdwlsgur/govpn)
terraform.tfvars.json